﻿
<div class="container" >
    <h3 class="center-align">Create Comment</h3>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CommentForm" }))
    {
    @Html.ValidationSummary(true)
    
         <input type="hidden" id="commentPostId" name="ObituaryId" value=""/>
        @*<input type="hidden" id="commentUserId" name="UserProfile_UserId" value="@ViewBag.currentUserId "/>*@
    
        <div class="input-field col s12">
               <textarea id="Message1" name="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>
        </div>
         <div class="row" id="hidebutton">
            <input value="Create" id="createComment" class="btn btn-green white-text addcom"/>
             <span class="btn btn-green white-text" id="cancelComment">Cancel</span>
        </div>
}
    
</div>

<script>
    $(".addcom").on('click', function () {
        $("#hidebutton").hide();
    })
    $("#cancelComment").on('click', function () {
        $("#Message1").val("");
        $("#hidebutton").hide();
    })
    $("#Message1").focus(function () {
        $("#hidebutton").show();
    })
</script>