﻿@model PMT.Models.Comment



<div class="container">
<div class="col s12">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "EditCommentForm"+@Model.CommentId }))
    {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ObituaryId)
        @Html.HiddenFor(model => model.CommentId)

         
        @* <input type="hidden" name="ObituaryId" id="ObituaryId" value=" @ViewBag.PostId" />*@
    <div class="row">
        <div class="input-field col s12">
               @*<textarea id="Message" name="Message" class="materialize-textarea" value="@Model.Message"></textarea>
            <label for="Message">Message</label>*@

            @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class="materialize-textarea"})
        </div>
         <div class="input-field col s12">
            <input type="button" value="Cancel" data-comId="@Model.CommentId" id="cncelcomm" class="btn btn-green white-text right"/>   
            <input type="button" value="Update"  data-comId="@Model.CommentId" class="btn btn-green white-text right updateComment"/> &nbsp;
        </div>
    </div>
  
}
    </div>
      </div>