﻿@model IEnumerable<PMT.Models.Comment>

@{
}

<div>
   @foreach (var item1 in Model)
   {
   <table class="highlight">
       <tbody>
           <tr id="delcom_@item1.CommentId">
               <td>

                   <span class="@item1.CommentId">@Html.DisplayFor(m => item1.Message)</span>

                   <p class="likeComment" data-commId="@item1.CommentId">
                       <span class="like_@item1.CommentId">@item1.LikeCount</span>
                       <i class="material-icons green-text" style="font-size: 15px;cursor:pointer">thumb_up</i>
                   </p>
                   <span style="display: inline; font-size: 12px;">Posted By: @item1.PostBy</span>
                   <div id="@item1.CommentId"></div>

               </td>

               <td style="display: inline; float: right;">
                   <a data-commentid="@item1.CommentId" class="edit indigo-text" style="cursor:pointer">Edit</a> |  
            @*@Html.ActionLink("Delete", "Delete", "Comment", new { id = item1.CommentId }, htmlAttributes: new { @class="delete red-text"})*@
                   <a data-deletecommentid="@item1.CommentId" class="delete red-text" style="cursor:pointer">Delete</a>
                   @*  <button data-commentid="@item1.CommentId" class="edit indigo-text">Edit</button>   *@

               </td>
               @*@Html.ActionLink("Add Obituary", "Create", "Post", null, new Dictionary<string, Object> { { "class", "waves-effect waves-light btn tooltipped btnclr" }, { "data-tooltip", "Add an Obituary" }, { "id", "newbtn" } })*@
           </tr>
       </tbody>
   </table>

   }


</div>
<script>
    $(document).on('click', '.edit', function () {
        var commId = $(this).attr("data-commentid");
        $.ajax({
            url: "/Comment/Edit",
            type: 'GET',
            data: { id: commId },
            success: function (data) {
                $("#"+commId).append(data.PartialView);
            }
        })
    })

    $(document).on('click', '#cncelcomm', function () {
        var commId = $(this).attr("data-comId");
        $("#"+commId).html("");
       
    })
    $(document).on('click', '.updateComment', function () {
        var commId = $(this).attr("data-comId");
        var form = $(".EditCommentForm"+commId).serialize();
        $.ajax({
            url: "/Comment/Edit",
            type: 'POST',
            data: form,
            success: function (data) {
                $("." + commId).text(data.comment);
                $("#" + commId).html("");
            }
        })

    })


    $(document).on('click', '.likeComment', function () {
        var commId = $(this).attr("data-commId");
        $.ajax({
            url: "/Comment/Like",
            type: 'POST',
            data: {commentId : commId},
            success: function (data) {
                $(".like_" + commId).text(data.commentLike);
            }
        })

    })
   

        $(document).off('click', '.delete').on('click', '.delete', function (e) {
        var commId = $(this).attr("data-deletecommentid");
        $.ajax({
            url: "/Comment/Delete",
            type: 'POST',
            data: { id: commId },
            success: function (data) {
                $("#delcom_" + commId).html('');
                var count = $("#PostCommCount").text();
                count = parseInt(count) - 1;

                $("#PostCommCount").text(count);
                $("#PostCommCount").val(count);
            }
        })

    })












</script>