﻿@model PMT.Models.Comment

@{
    ViewBag.Title = "Create";
}



<div class="container">
    <h3 class="center-align">Create</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
  
         <input type="hidden" name="ObituaryId" id="ObituaryId" value=" @ViewBag.PostId" />
    
        <div class="input-field col s12">
               <textarea id="Message" name="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>
        </div>
         <div>
            <input type="submit" value="Create"  class="btn btn-green white-text "/>
        </div>
}
    
</div>

