﻿@model PMT.Models.Comment

@{
    ViewBag.Title = "Edit";
}

<h3 class="center-align">Edit</h3>

<div class="col s12">
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="card">
        

        @Html.HiddenFor(model => model.ObituaryId)
        @Html.HiddenFor(model => model.CommentId)

         
         <input type="hidden" name="ObituaryId" id="ObituaryId" value=" @ViewBag.PostId" />
    <div class="row">
        <div class="input-field col s12">
               @*<textarea id="Message" name="Message" class="materialize-textarea" value="@Model.Message"></textarea>
            <label for="Message">Message</label>*@

            @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class="materialize-textarea"})
        </div>
         <div>
            <input type="submit" value="Update"  class="btn btn-green white-text right"/>
        </div>
    </div>
    </div>
}
</div>
