﻿@model PMT.Models.Obituary

@{
    ViewBag.Title = "Create";

        //var droplist = ViewData["ObituaryCategory"] as List<SelectListItem>;

        //var list = ViewData["Classifications"] as List<SelectListItem>;
    
}
<style>
    .dropdown-content li > span {
        font-size: 12px;
    }
</style>
<div class="container">
    <h4 class="center-align textstyle">Add New Obituary / Tribute</h4>

    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
   @Html.Hidden("FileName","")
        @Html.ValidationSummary(true)
   
        <div class="row">

            <div class="col s6">

                <label>Classifications</label>

              @*  @Html.DropDownList("Classifications",  ViewData["Classifications"] as List<SelectListItem>)*@
                  @Html.DropDownList("Classifications", new SelectList( ViewBag.classifications, "Value",    "Text"))
               
            </div>


        </div>
            
       
        <div class="row">
            @if (ViewBag.ServerErrMsg != null)
            {
               <span class="red-text">@ViewBag.ServerErrMsg</span>
            }
           
            <div class="input-field col s6">

                <input id="Name" name="Name" type="text" class="validate">
                <label for="Name">First Name</label>
                 @Html.ValidationMessageFor(m=>m.Name,null, htmlAttributes: new { @class="red-text"})
            </div>






            <div class="input-field col s6">

                <input id="LastName" name="LastName" type="text" class="validate">
                <label for="LastName">Last Name</label>
                 @Html.ValidationMessageFor(m=>m.LastName,null, htmlAttributes: new { @class="red-text"})
            </div>
        </div>
        <div class="row">

            <div class="col s6">
                <label>Obituary category</label>
                @Html.DropDownList("ObituaryCategory", ViewData["ObituaryCategory"] as List<SelectListItem>)
                @Html.ValidationMessageFor(m=>m.ObituaryCategory,null, htmlAttributes: new { @class="red-text"})
            </div>
            <div class="col s6">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="imageFile">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                         @Html.ValidationMessageFor(m => m.FileName,"", htmlAttributes: new { @class="red-text"})
                    </div>
                </div>
            </div>
            @*<input type="file" name="imageFile"/>*@
        </div>
              
        <div class="row">

            <div class="input-field col s6">
                <input id="DeacesedCity" name="DeacesedCity" type="text">
                <label for="DeacesedCity">Deacesed City</label>

            </div>

            <div class="input-field col s6">
                <input id="State" name="State" type="text" >
                <label for="State">State</label>


            </div>
        </div>
        <div class="row">

            <div class="input-field col s6">
                <input id="DateOfBirth" name="DateOfBirth" type="text">
                <label for="DateOfBirth">Date Of Birth</label>

            </div>
            <div class="input-field col s6">
                <input id="DateOfDeath" name="DateOfDeath" type="text">
                <label for="DateOfDeath">Date Of Death</label>

            </div>
        </div>
       
       <div class="row">
        <div class="input-field col s12">
            <textarea id="Message" name="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>
             @Html.ValidationMessageFor(m => m.Message,null, htmlAttributes: new { @class="red-text"})
        </div>
        </div>
      
            <input type="checkbox" id="test5">
            <label for="test5" class="right align">Terms & Condition</label>
            <div class="row">
                <div class="input-field col s12">
                <input type="submit" value="Create" class="btn btn-green white-text" id="obicheck"/>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-green white-text" })</div>
            </div>
            }
        </div>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <script>

                $('#obicheck').prop("disabled", true);
            $('#test5').click(function () {
                if ($(this).prop('checked') == false) {
                    $('#obicheck').prop("disabled", true);
                } else {
                    $('#obicheck').prop("disabled", false);
                }
            });
           

            $('#DateOfBirth').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year

            });

            $('#DateOfDeath').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15,// Creates a dropdown of 15 years to control year
                max: true
            });


        </script>

