﻿@model PMT.Models.Obituary

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Obituary</legend>

    <div class="col s6">
         @Html.DisplayNameFor(model => model.Classifications) :  @Html.DisplayFor(model => model.Classifications)
    
       
    </div>
   <br />
     <div class="col s6">
         @Html.DisplayNameFor(model => model.Name) : 
        @Html.DisplayFor(model => model.Name)
    </div>
    <br />
    <div class="col s6">
         @Html.DisplayNameFor(model => model.LastName) : 
        @Html.DisplayFor(model => model.LastName)
    </div>
    <br />
     <div class="col s6">
         @Html.DisplayNameFor(model => model.ObituaryCategory) : 
        @Html.DisplayFor(model => model.ObituaryCategory)
    </div>
    <br />
       <div class="col s6">
         @Html.DisplayNameFor(model => model.DeacesedCity) :
    
  
        @Html.DisplayFor(model => model.DeacesedCity) 
           </div>

    <br />
       <div class="col s6">
         @Html.DisplayNameFor(model => model.State) : 
  
        @Html.DisplayFor(model => model.State)
           </div>
    <br />
       <div class="col s6">
         @Html.DisplayNameFor(model => model.DateOfBirth) : 
        @Html.DisplayFor(model => model.DateOfBirth)
           </div>
    <br />
              <div class="col s6">
         @Html.DisplayNameFor(model => model.DateOfDeath) : 
        @Html.DisplayFor(model => model.DateOfDeath)
                  </div>
    <br />
                     <div class="col s6">
         @Html.DisplayNameFor(model => model.Message) :
        @Html.DisplayFor(model => model.Message)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
</div>
