﻿@model PMT.Models.Obituary

@{
    ViewBag.Title = "Edit";
}

<style>
    .dropdown-content li > span {
        font-size: 12px;
    }
</style>
<div class="container">
    <h3 class="center-align">Edit</h3>

    @using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ObituaryId)
        @Html.HiddenFor(model=>model.FileName)
        <div class="row">

            <div class="col s6">

                <label>Classifications</label>
               @* @Html.DropDownList("Classifications",  ViewData["Classifications"] as List<SelectListItem>)
            *@

                @Html.DropDownList("Classifications", new SelectList( ViewBag.classifications, "Value", "Text", Model.Classifications),@Model.Classifications)


            </div>

        </div>
        <div class="row">

            <div class="input-field col s6">
                <input placeholder="Placeholder" id="Name" name="Name" type="text" class="validate" value="@Model.Name">
                <label for="Name">First Name</label>

            </div>
            <div class="input-field col s6">

                <input placeholder="Placeholder" id="LastName" name="LastName" type="text" class="validate" value="@Model.LastName">
                <label for="LastName">Last Name</label>
            </div>
        </div>
        <div class="row">

            <div class="col s6">
                <label>Obituary category</label>

                @Html.DropDownList("ObituaryCategory", ViewData["ObituaryCategory"] as List<SelectListItem>)

            </div>
            <div class="col s6">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="imageFile">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
              
        <div class="row">

            <div class="input-field col s6">
                <input placeholder="Placeholder" id="DeacesedCity" name="DeacesedCity" type="text" class="validate" value="@Model.DeacesedCity">
                <label for="DeacesedCity">Deacesed City</label>

            </div>

            <div class="input-field col s6">
                <input placeholder="Placeholder" id="State" name="State" type="text" class="validate" value="@Model.State">
                <label for="State">State</label>


            </div>
        </div>
        <div class="row">

            <div class="input-field col s6">
                <input placeholder="Placeholder" id="DateOfBirth" name="DateOfBirth" type="text" class="validate" value="@Model.DateOfBirth">
                <label for="DateOfBirth">Date Of Birth</label>

            </div>
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="DateOfDeath" name="DateOfDeath" type="text" class="validate" value="@Model.DateOfDeath">
                <label for="DateOfDeath">Date Of Death</label>

            </div>
        </div>
       
       
        <div class="input-field col s6 ">
            @*<textarea id="Message" name="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>*@
            @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "materialize-textarea" })
        </div>
     
          
       
       
            
        <div>
            <input type="submit" value="Save" class="btn btn-green white-text" />

            @if (Model.Classifications == "Obituary")
            {
                @Html.ActionLink("Back to List", "Obituary_List", "Post", null, new { @class = "btn btn-green white-text" })
            }
            else if (Model.Classifications == "Tribute")
            {
                @Html.ActionLink("Back to List", "Tribute_List", "Post", null, new { @class = "btn btn-green white-text" })
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-green white-text" })
            }
        </div>
    }


</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>


    $('#DateOfBirth').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year

    });

    $('#DateOfDeath').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15,// Creates a dropdown of 15 years to control year
        max: true
    });



</script>

