﻿@model IEnumerable<PMT.Models.Obituary>
@*@model PMT.Models.Obituary*@
@{
    ViewBag.Title = "Obituary_List";
}

<div>
    <div class="col s12">
        <div class="outer no_scroll">
            <div id="obituaryView">
            @Html.Partial("~/Views/Post/_Obituary_List.cshtml")
            </div>
            <div class="obituary_scroll">
            </div>
        </div>
    </div>
    <input type="hidden" id="message" value="@ViewBag.message"></input>
</div>


<script>
    $(function () {
        var lst = -1;
        $("div.obituary_scroll").load("/Post/Obituaries_Next?lastObituary=" + lst, "", function () {
            if ($("div.obituary_scroll").length <= 0) {
                $("div.obituary_scroll").html("<p class='box style'>NO Discussion Yet...</p>")
            }
        });
        $(".obituary_scroll").scroll(function (e) {
            e.preventDefault();
            if ((($(this).scrollTop() + $(this).innerHeight()) >= this.scrollHeight) && $contentLoadTriggeredAuthoredDiscussion == false) {

                //var lastId = $("#LastDiscussionIdAuthored").attr("data-lastDiscussionId");

                console.log(lastId);
                if (lastId > 0 || lastId == -1) {
                    $contentLoadTriggeredAuthoredDiscussion = true;

                    lastId = parseInt(lastId);

                    console.log("lastId" + lastId);
                    $.ajax({
                        url: "/Post/Obituaries_Next?lastDiscussion=" + lastId,
                        type: 'Get',
                        //  data: ,
                        dataType: 'html',
                        success: function (data) {

                            //$("#LastDiscussionIdAuthored").remove();
                            $(".obituary_scroll").html(data);
                            $(".obituaryView").html(data);
                            $contentLoadTriggeredAuthoredDiscussion = false;

                        },
                        error: function (error) {
                            console.log(error);
                        },
                        beforeSend: function (XMLHttpRequest) {
                        },
                        complete: function (XMLHttpRequest, textStatus) {
                        }
                    });
                }

            }
        });
    })
    $(document).ready(function () {
        if ($('#message').val() != "") {
            toastr["success"]($('#message').val());
        }
    });
</script>
