﻿@model IEnumerable<PMT.Models.Obituary>

@{
    ViewBag.Title = "Tribute_List";
}
<div class="container">
    <div class="row">
        <div class="col s10">
            <h4 class="header center-align homehead">Tributes</h4>
        </div>
        <div class="col s2">
            <span style="float: left; margin: 10px 10px 10px 0px;">@Html.ActionLink("Create New Obituary/Tribute", "Create", null, new Dictionary<string,Object> { {"class","waves-effect waves-light btn tooltipped btnclr" },{ "data-tooltip", "Add an Obituary"}})</span>
        </div>@* new Dictionary<string,Object> { {"class","prev"}, {"data-details","yada"} } *@
        @foreach (var item in Model)
    {
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image center-align">
                          <img src="~/Images/obituary/@Html.DisplayFor(m=>item.FileName)">
                    </div>
                    <div class="card-content">
                       <span class="card-title">@Html.ActionLink(item.Name, "Details", new { id=item.ObituaryId})</span>
                        
                        @{var msg = "";
                  if (item.Message.Length > 5)
                  {

                      msg = item.Message.Substring(0, 5).Insert(5, "...");
                    

                  }
                  else
                  {
                      msg = item.Message;
                  }}
                        <p>@msg</p>
                    </div>
                </div>
            </div>
        }
        <input type="hidden" id="message" value="@ViewBag.message"></input>
</div>

</div>

<style>
    div.card-image > img {
        width: 100%;
        margin: auto;
    }
</style>

<script>
    $('.tooltipped').tooltip({ delay: 50 });
    $(document).ready(function () {
        if ($('#message').val() != "") {
            toastr["success"]($('#message').val());
        }
    });
</script>