﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Pay My Tribute</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/legacy.js"></script>
    <script src="~/Scripts/picker.date.js"></script>


    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.timepicker.js"></script>

    @*<link href="~/Content/materialize.min.css" rel="stylesheet" />*@

    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @*  @Scripts.Render("~/bundles/jquery")*@
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        /*.select-wrapper:nth-child(2) > input.select-dropdown {
            display: none !important;
        }

        .select-wrapper:nth-child(2) > span.caret {
            display: none !important;
            font-size: 0;
        }*/

        main {
            flex: 1 0 auto;
        }

        .slider .indicators .indicator-item.active {
            background-color: aqua;
        }

        .waves-circle {
            text-align: center;
            width: 10.5em;
            height: 10.5em;
            line-height: 2.5em;
            border-radius: 50%;
            -webkit-mask-image: none;
        }

        .promo-caption {
            font-size: 20px;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .promo i {
            color: #ee6e73;
            font-size: 7rem;
            display: block;
        }

        #sliderimg img {
            width: 400px;
            height: 300px;
        }

        #sliderimg1 img {
            width: 300px;
            height: 250px;
        }

        .tabs {
            height: 50px !important;
            overflow-x: hidden;
        }


        .imgslider {
            height: 200px !important;
            margin-right: 20px !important;
            width: 80% !important;
        }

        .mbottom-20 {
            margin-bottom: -20px;
        }

        input[type="submit"] {
            height: 36px;
            border-radius: 2px;
            background-clip: padding-box;
            line-height: 36px;
            text-transform: uppercase;
            border: none;
            outline: 0;
            text-decoration: none;
            color: #FFF;
            background-color: #26a69a;
            text-align: center;
            letter-spacing: .5px;
        }

        .w100 {
            width: 100%;
        }

        .borderbox {
            border: 2px solid #f6b2b5;
        }

        a {
            color: #fff;
        }

        .slider ul.slides li .caption {
            top: 5%;
        }

        .card a {
            color: #00bcd4;
            text-align: center;
            font-weight: 400;
        }

        .w50 {
            width: 50%;
        }

        nav ul a {
            padding: 0px 10px;
        }

        nav .brand-logo {
            font-size: 23px;
        }

        .dropdown-content li > a, .dropdown-content li > span {
            font-size: 12px;
        }


        textarea.materialize-textarea {
            padding: 0.6rem 0;
        }

        .row {
            margin-bottom: 0px;
        }

        .card .card-image img {
            height: 250px;
            max-height: 300px;
            max-width: 100%;
            width: auto;
            margin: 0 auto;
        }

        .waves-input-wrapper {
            vertical-align: 0;
        }

        .row .col.s12 {
            margin-left: -7px;
        }

        textarea.materialize-textarea {
            border: 2px solid #2bbbad;
        }

        .tabs {
            height: 0px;
        }

        .hoverable:hover {
            transition: box-shadow .25s;
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .card .card-image {
            background: #afafaf;
        }

        .ui-autocomplete {
            position: absolute;
            cursor: default;
            z-index: 3000 !important;
        }

        .tabs .indicator {
            height: 0px !important;
        }

        ul.tabs li a.active {
            background: #fff;
            color: #ee6e73;
            padding-top: 6px;
            border-radius: 9% 9% 0% 0%/50% 50% 0% 0%;
            -webkit-border-radius: 9% 9% 0% 0%/50% 50% 0% 0%;
            -moz-border-radius: 9% 9% 0% 0%/50% 50% 0% 0%;
            border-bottom: 1px solid #EE6E73;
        }

        .moz-keyframes blinker {
            0%;

        {
            opacity: 1.0;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1.0;
        }

        }

        .webkit-keyframes blinker {
            0%;

        {
            opacity: 1.0;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1.0;
        }

        }

        .keyframes blinker {
            0%;

        {
            opacity: 1.0;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1.0;
        }

        }

        ul.tabs li a {
            background: bisque;
            color: #ee6e73;
            padding-top: 6px;
            border-radius: 9% 9% 0% 0%/50% 50% 0% 0%;
            -webkit-border-radius: 9% 9% 0% 0%/50% 50% 0% 0%;
            -moz-border-radius: 9% 9% 0% 0%/50% 50% 0% 0%;
            border: 1px solid #EE6E73;
            border-bottom: none !important;
        }

        .tabs .tab a:hover {
            color: #ee6e73;
        }

        .slider .slides li .container span {
            width: 100%;
        }

        .slider .slides li {
            background: url('/assets/parallax1.jpg') 75% 16%;
        }

        .fright {
            float: right;
        }

        .textstyle {
            font-size: 25px;
            line-height: 110%;
            margin: 1.14rem 0 0.912rem 0;
            color: #EE6E73;
        }

        .listhead {
            line-height: 110%;
            margin: 1.14rem 0 0.912rem 0;
            color: #f57c00;
            text-shadow: 2px 2px 1px #afafaf;
        }

        .waves-effect {
            text-transform: capitalize;
        }

        .material-icons {
            font-size: 20px !important;
        }

        mtop12 {
            margin-top: 12px;
        }

        .card {
            height: 350px;
        }

            .card .card-content {
                padding-top: 0px;
            }

        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
            visibility: inherit;
        }

        .modalcss {
            padding: 10px;
            font-size: 12px;
            padding-top: 0px;
            float: right;
        }

        .sol-container {
            display: block;
        }

            .sol-container.sol-active .sol-inner-container {
                position: relative;
                border-color: rgba(82, 168, 236, 0.8);
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            }

            .sol-container.sol-active.sol-selection-top .sol-inner-container {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            .sol-container.sol-active.sol-selection-top .sol-selection-container {
                -webkit-box-shadow: 0 0 12px rgba(0,0,0,.175);
                box-shadow: 0 0 12px rgba(0,0,0,.175);
                border-bottom-left-radius: 0;
                border-top-right-radius: 0;
            }

            .sol-container.sol-active.sol-selection-bottom .sol-inner-container {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .sol-container.sol-active.sol-selection-bottom .sol-selection-container {
                -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
            }

        .sol-inner-container {
            border: 1px solid #ccc;
            background-color: #fff;
            height: 32px;
            line-height: 30px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            position: relative;
            -webkit-transition: border linear .2s, box-shadow linear .2s;
            -moz-transition: border linear .2s, box-shadow linear .2s;
            -o-transition: border linear .2s, box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        .sol-input-container {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 25px;
        }

            .sol-input-container > input {
                background-color: transparent;
                padding: 0 7px;
                margin: 0;
                width: 100%;
                height: 100%;
                border: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }

                .sol-input-container > input:focus {
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    outline: none;
                }

        .sol-container.sol-active .sol-input-container > input {
            border-bottom-right-radius: 0;
        }

        .sol-caret-container {
            position: absolute;
            display: inline-block;
            width: 25px;
            right: 0;
            top: 0;
            bottom: 0;
        }

            .sol-caret-container b {
                position: absolute;
                top: 13px;
                left: 8px;
            }

                .sol-caret-container b.caret {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    vertical-align: middle;
                    border-top: 4px solid;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                }

        .sol-selection-container {
            display: none;
            position: absolute;
            top: 100%;
            left: -1px;
            float: left;
            background: #fff;
            border: 1px solid #ddf;
            z-index: 99999;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
        }

        .sol-container.sol-active .sol-selection-container {
            display: block;
            position: fixed;
            left: inherit;
            top: inherit;
            z-index: 2;
        }

        .sol-option {
            padding: 5px 10px;
            display: block;
        }

            .sol-selection:not(.sol-keyboard-navigation) .sol-option:hover, .sol-option.keyboard-selection {
                background: #0088CC;
                color: #fff;
            }

        .sol-label {
            display: block;
            position: relative !important;
            top: 0rem !important;
        }

        .sol-label-text {
            padding-left: 20px;
            line-height: 1.2em;
            display: inline-block;
        }

        .sol-checkbox, .sol-radio {
            position: initial !important;
            width: 13px !important;
            height: 13px !important;
            padding: 0 !important;
            margin: 0 !important;
            top: 4px;
        }

        .sol-optiongroup {
            background: #f7f7f7;
            padding-bottom: 1px;
        }

        .sol-optiongroup-label {
            color: #555;
            background: #eee;
            font-weight: bold;
            margin-bottom: 5px;
            padding: 0 5px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }

        .sol-optiongroup.disabled {
            color: #999;
        }

        .sol-no-results, .sol-loading-data {
            color: #999;
            font-style: italic;
            text-align: center;
        }

        .sol-loading-data {
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-name: blinker;
            -moz-animation-duration: 1s;
            -moz-animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
            animation-name: blinker;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .sol-filtered-search {
            display: none;
        }

        .sol-action-buttons {
            line-height: 20px;
            color: #555;
            background: #eee;
            padding: 7px 10px;
            border-bottom: 1px solid #ccc;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
        }

            .sol-action-buttons a {
                text-decoration: none;
                color: #0088CC;
                border-bottom: 1px solid transparent;
            }

                .sol-action-buttons a:hover {
                    border-bottom: 1px solid #0088CC;
                }

        .sol-select-all {
            float: left;
        }

        .sol-deselect-all {
            float: right;
        }

        .sol-clearfix {
            clear: both;
        }

        .sol-selected-display-item {
            display: inline-table;
            border: 1px solid #ccc;
            background: #f7f7f9;
            font-size: 0.9em;
            border-radius: 4px;
            margin-right: 5px;
            margin-bottom: 5px;
            border-collapse: initial;
        }

        .sol-quick-delete {
            color: #777;
            display: table-cell;
            font-weight: bold;
            text-align: center;
            padding: 3px 5px;
            vertical-align: top;
        }

        .sol-selected-display-item-text {
            padding: 3px 5px;
            display: table-cell;
            vertical-align: top;
        }

        .sol-quick-delete + .sol-selected-display-item-text {
            padding-left: 0;
        }

        .sol-quick-delete:hover {
            color: #111;
            cursor: pointer;
        }

        .sol-current-selection {
            padding: 5px 0;
        }

        .sol-selection {
            overflow: auto;
            position: relative;
            height: 300px;
        }

            .sol-selection div:first-child.sol-optiongroup > .sol-optiongroup-label {
                border-top: none;
            }

        .dispnone {
            display: none;
        }

        .navclr {
            background: #4F4A65 !important;
            border-bottom: 1px solid #fff;
        }

        body {
            font-family: lato !important;
        }

        .btnclr {
            background: #EE6E73 !important;
        }

        .loadmoreslider {
            font-size: 16px;
            text-transform: capitalize;
            float: right;
        }

        .homehead {
            color: #EE6E73 !important;
            text-transform: uppercase;
            font-size: 35px;
        }

        .loadmore {
            font-size: 15px;
            text-transform: capitalize;
            border: 1px solid #999;
            background: #4F4A65 !important;
            padding: 10px;
            color: #fff;
        }

        a.black-text {
            font-size: 12px;
            padding: 1rem 1rem;
        }
    </style>
</head>
<body>
    <header>
        <ul id="dropdown1" class="dropdown-content">
            @*<li id="login">@Html.Partial("_LoginPartial")</li>*@
            <li>@Html.ActionLink("Edit Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username teal-text", title = "Manage" })</li>
            <li class="divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="black-text" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </li>

        </ul>

        <nav class="navclr z-depth-2">
            <div class="container">
                <div class="nav-wrapper">
                    @Html.ActionLink("Pay my tribute", "Index", "Home", null, new { @class = "brand-logo" })
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Obituaries", "Obituary_List", "Post")</li>
                        <li>@Html.ActionLink("Tributes", "Tribute_List", "Post")</li>
                        <li>@Html.ActionLink("Search", "Index", "Search", null, new Dictionary<string, Object> { { "class", "tooltipped" }, { "data-tooltip", "Search" } }) </li>
                        @*<li><a class="dropdown-button" href="#!" data-activates="dropdown1">DropDown<i class="material-icons right">arrow_drop_down</i></a></li>*@

                        @if (Request.IsAuthenticated)
                        {
                            <li class='dropdown-button' data-beloworigin="true" data-activates='dropdown1' style="cursor: pointer">Hello, @User.Identity.Name!</li> <i class="material-icons right">arrow_drop_down</i>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "amber-text" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "amber-text" })</li>
                        }


                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Obituaries", "Obituary_List", "Post")</li>
                        <li>@Html.ActionLink("Tributes", "Tribute_List", "Post")</li>
                        <li>@Html.ActionLink("Search", "Index", "Search", null, new Dictionary<string, Object> { { "class", "tooltipped" }, { "data-tooltip", "Search" } }) </li>
                        @* <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>*@
                        <li>@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "black-text" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "black-text" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
            <div id="body">
            @RenderSection("featured", required: false)
                
              @RenderSection("scripts", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
                <div id="fb-root"></div>

        </main>

    <footer class="page-footer navclr z-depth-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Pay My Tribute</h5>
                    <p class="grey-text text-lighten-4">This is a service to provide free obituaries online for those who choose to celebrate someone’s life or mourn the loss of a loved one. This is offering a free alternative to placing costly obituary notices in the newspapers or online with paid websites. </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Important Links</h5>
                    <ul>
                        <li><i class="material-icons white-text">stars</i>&nbsp;&nbsp; @Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "white-text" })</li>
                        <li><a href="#!" class="white-text"><i class="material-icons white-text">redeem</i>&nbsp;&nbsp;Services</a></li>

                        <li><i class="material-icons white-text">call</i>&nbsp;@Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "white-text" })</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2015 Copyright Pay My Tribute
            <a class="grey-text text-lighten-4 right" href="http://www.tekacademy.com/">Developed by Tekacademy</a>
            </div>
        </div>
    </footer>




</body>

<script>

    $(".dropdown-button").dropdown({
        hover: false
    });
    $('select').material_select();
    $('.tooltipped').tooltip({ delay: 50 });
    $(".button-collapse").sideNav();



</script>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=959000117479860";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');

    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })()
</script>
</html>
