﻿<style>
    .container1 {
        width: 100%;
        margin-top: -12px;
        float: left;
    }

    .header1 {
        background: url('/Images/dropDown_arrow.png') no-repeat;
        background-position: right 0px;
        cursor: pointer;
    }

    .collapsed1 .header1 {
        background-image: url('/Images/up.png');
    }

    .content1 {
        height: auto;
        min-height: 100px;
        overflow: hidden;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }

    .collapsed1 .content1 {
        min-height: 0px;
        height: 0px;
    }
</style>





<div class="container">
    <h3 class="center-align">Create Events</h3>
    @using (Html.BeginForm("Create", "Event", FormMethod.Post, new { id = "EventForm" }))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" id="eventPostId" name="ObituaryId" value="" />
        <div class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    @*    <div class="editor-label">
            @Html.LabelFor(model => model.EventDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EventDate)
            @Html.ValidationMessageFor(model => model.EventDate)
        </div>*@

                    <input id="EventName" name="EventName" type="text" class="validate eventname">
                    <label for="EventName">Event Name</label>

                </div>

                <div class="input-field col s4">

                    <input id="EventVenue" name="EventVenue" type="text" required="required">
                    <label for="EventVenue">Event Venue</label>
                    <div id="error_eventvenue" class="red-text"></div>
                    @*      @Html.ValidationMessageFor(m => m.EventVenue, null, new { @class="red-text"})*@


                </div>
                <div class="input-field col s4">
                    <input id="EventDate" name="EventDate" type="text" class="validate">
                    <label for="EventDate">Event Date</label>

                </div>
                <div class="container1 collapsed1">
                    <div class="header1">&nbsp;</div>
                    <div class="content1">

                        <div class="row">
                            <div class="input-field col s4">

                                <input id="EventStartTime" name="EventStartTime" type="text" required="required">
                                <label for="EventStartTime">Event Start Time</label>
                                <div id="error_eventstarttime" class="red-text"></div>
                                @*@Html.ValidationMessageFor(m => m.EventStartTime, null, new { @class="red-text"})*@
                            </div>
                            <div class="input-field col s4">
                                <input id="EventEndTime" name="EventEndTime" type="text" class="validate">
                                <label for="EventEndTime">Event End Time</label>
                            </div>
                            <div class="input-field col s4">

                                <input id="ApprximateDuration" name="ApprximateDuration" type="text" class="validate" readonly="readonly">
                                <label for="ApprximateDuration">Aproximate Duration</label>
                            </div>

                            <div class="col s12">
                                <label for="EventInfo">Event Info</label>
                                <textarea id="EventInfo" name="EventInfo" class="materialize-textarea" required="required"></textarea>
                                @*@Html.ValidationMessageFor(m => m.EventInfo, null, new { @class="red-text"})*@
                                <div id="error_eventinfo" class="red-text"></div>
                            </div>


                            <div>
                                <input value="Create" id="createEvent" class="btn btn-green white-text" />
                                <span class="btn btn-green white-text">Cancel</span>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        

        

      
  
    }

</div>
<script>

    $('#EventStartTime').timepicker({ 'timeFormat': 'H:i' });
    $('#EventEndTime').timepicker({ 'timeFormat': 'H:i' });
    $("#EventStartTime").blur(function () {

        var start = $(this).val()

        var end = $('#EventEndTime').val()

        var starttime = parseInt($(this).val().split(':')[0])
        var starttime1 = parseInt($(this).val().split(':')[1]);

        starttime = starttime * 60
        starttime = starttime + starttime1

        var endtime = parseInt($("#EventEndTime").val().split(':')[0]);
        var endtime1 = parseInt($("#EventEndTime").val().split(':')[1]);

        endtime = endtime * 60
        endtime = endtime + endtime1
        if (start != "" && end != "") {
            if (end < start) {
                endtime = endtime + 1440;
                approxduration(starttime, endtime);

            }
            approxduration(starttime, endtime);
        }
        else
            $('#ApprximateDuration').val('');


    });
    $("#EventEndTime").blur(function () {


        var end = $(this).val()
        var start = $('#EventStartTime').val()


        var starttime = parseInt($("#EventStartTime").val().split(':')[0]);
        var starttime1 = parseInt($("#EventStartTime").val().split(':')[1]);

        starttime = starttime * 60
        starttime = starttime + starttime1


        var endtime = parseInt($(this).val().split(':')[0]);
        var endtime1 = parseInt($(this).val().split(':')[1]);

        endtime = endtime * 60
        endtime = endtime + endtime1



        if (start != "" && end != "") {
            if (end < start) {
                endtime = endtime + 1440;
                approxduration(starttime, endtime);

            }
            approxduration(starttime, endtime);
        }
        else
            $('#ApprximateDuration').val('');

    });
    function approxduration(start, end) {
        var total_time = end - start

        if (total_time <= 1) {
            total_time = total_time * -1;
            var hours = total_time / 60;
            hours = Math.floor(hours);
            var miniutes = total_time % 60;
            // alert(miniutes);


            $("#ApprximateDuration").val(hours + ":" + miniutes);
        }

        else if (total_time >= 60) {
            var hours = total_time / 60;
            hours = Math.floor(hours);
            var miniutes = total_time % 60;
            // alert(miniutes);


            $("#ApprximateDuration").val(hours + ":" + miniutes);

        }

        else {
            var hours = 0;
            var miniutes = total_time
            $("#ApprximateDuration").val(hours + ":" + miniutes);
        }
    }

    $('#EventDate').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year

    });

    $('.header1').click(function () {
        $(this).closest('.container1').toggleClass('collapsed1');
    });

    $('#DateOfBirth').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year

    });

    $('#DateOfDeath').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15,// Creates a dropdown of 15 years to control year
        max: true
    });
    ("#cancelEvent").on('click', function () {
        $("#EventDate").val("");
        $("#EventVenue").val("");
        $("#EventName").val("");
        $("#EventStartTime").val("");
        $("#EventEndTime").val("");
        $("#ApprximateDuration").val("");
        $("#EventInfo").val("");
    })
</script>
