﻿@model PMT.Models.Events

@{
    ViewBag.Title = "Edit";
}

 <h2 class="center-align">Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "EditEventForm" }))
{
    @Html.ValidationSummary(true)

      @Html.HiddenFor(model => model.ObituaryId)
        @Html.HiddenFor(model => model.EventId)
<div class="container">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s4">
                @Html.LabelFor(model => model.EventName)
                @Html.TextBoxFor(model => model.EventName)

            </div>
            <div class="input-field col s4">
                @Html.LabelFor(model => model.EventVenue)
                @Html.TextBoxFor(model => model.EventVenue)

            </div>
            <div class="input-field col s4">
                @Html.LabelFor(model => model.EventDate)
                @Html.TextBoxFor(model => model.EventDate)

            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                @Html.LabelFor(model => model.EventStartTime)
                @Html.TextBoxFor(model => model.EventStartTime)

            </div>
            <div class="input-field col s4">
                @Html.LabelFor(model => model.EventEndTime)
                @Html.TextBoxFor(model => model.EventEndTime)

            </div>
            <div class="input-field col s4">
                @Html.LabelFor(model => model.ApprximateDuration)
                @Html.TextBoxFor(model => model.ApprximateDuration,null,htmlAttributes:new{@readonly="readonly"})
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(model => model.EventInfo)
                @Html.TextAreaFor(model => model.EventInfo, new { @class = "materialize-textarea" })
            </div>
        </div>
        <div class="col s12">
               <input type="button" value="Cancel" data-eventId="@Model.EventId" id="cncelcomm" class="btn btn-green white-text right"/>   
            <input type="button" value="Save" data-eventId="@Model.EventId" class="btn btn-green white-text right updateEvent"/>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#EventStartTime').timepicker({ 'timeFormat': 'H:i' });
        $('#EventEndTime').timepicker({ 'timeFormat': 'H:i' });
        $("#EventStartTime").blur(function () {

            var start = $(this).val()

            var end = $('#EventEndTime').val()

            var starttime = parseInt($(this).val().split(':')[0])
            var starttime1 = parseInt($(this).val().split(':')[1]);

            starttime = starttime * 60
            starttime = starttime + starttime1

            var endtime = parseInt($("#EventEndTime").val().split(':')[0]);
            var endtime1 = parseInt($("#EventEndTime").val().split(':')[1]);

            endtime = endtime * 60
            endtime = endtime + endtime1
            if (start != "" && end != "") {
                if (end < start) {
                    endtime = endtime + 1440;
                    approxduration(starttime, endtime);

                }
                approxduration(starttime, endtime);
            }
            else
                $('#ApprximateDuration').val('');


        });
        $("#EventEndTime").blur(function () {


            var end = $(this).val()
            var start = $('#EventStartTime').val()


            var starttime = parseInt($("#EventStartTime").val().split(':')[0]);
            var starttime1 = parseInt($("#EventStartTime").val().split(':')[1]);

            starttime = starttime * 60
            starttime = starttime + starttime1


            var endtime = parseInt($(this).val().split(':')[0]);
            var endtime1 = parseInt($(this).val().split(':')[1]);

            endtime = endtime * 60
            endtime = endtime + endtime1



            if (start != "" && end != "") {
                if (end < start) {
                    endtime = endtime + 1440;
                    approxduration(starttime, endtime);

                }
                approxduration(starttime, endtime);
            }
            else
                $('#ApprximateDuration').val('');

        });
        function approxduration(start, end) {
            var total_time = end - start

            if (total_time <= 1) {
                total_time = total_time * -1;
                var hours = total_time / 60;
                hours = Math.floor(hours);
                var miniutes = total_time % 60;
                // alert(miniutes);


                $("#ApprximateDuration").val(hours + ":" + miniutes);
            }

            else if (total_time >= 60) {
                var hours = total_time / 60;
                hours = Math.floor(hours);
                var miniutes = total_time % 60;
                // alert(miniutes);


                $("#ApprximateDuration").val(hours + ":" + miniutes);

            }

            else {
                var hours = 0;
                var miniutes = total_time
                $("#event_approximate_duration").val(hours + ":" + miniutes);
            }
        }

        $('#EventDate').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year

        });
    });


</script>
