﻿@model IEnumerable<PMT.Models.Events>
@{
    //var id =
}

@*    <table class="highlight">
     <thead>
     <tr>
        
             <th>
            @Html.DisplayNameFor(model=>model.EventInfo)
        </th>
   
        
        </tr>
               </thead>
      
   @foreach (var item in Model)
   {
       <tbody>
           <tr>
        <td>
            @Html.DisplayFor(model => item.EventInfo)
        </td>
        
        <td class="right">
            @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventId }, htmlAttributes: new { @class="red-text"}) |
            @Html.ActionLink("Details", "Details", "Event", new { id = item.EventId },htmlAttributes: new { @class="red-indigo"})|
        @Html.ActionLink("Delete", "Delete", "Event", new { id = item.EventId }, new { @class="deleteEvent"})
        </td>
    </tr>   
       </tbody>
   
   }
</table>*@


@foreach (var item in Model)
{
    <div class="col s12" id="deleteevent_@item.EventId">
        <ul style="list-style-type: none; padding: 7px;" class="collection" >
            <li class="collection-header" >
                <h6>@Html.ActionLink(item.EventName, "Details", "Event", new { id = item.EventId }, htmlAttributes: new { @class = "black-text" }) (@Html.DisplayFor(m => item.EventDate))  <span class="deleteEvent red-text " style="float:right;cursor:pointer;" data-deleteeventidid="@item.EventId" >Delete</span></h6>
            </li>
        </ul>
    </div>
   
}



<script>
    $(document).off('click', '.deleteEvent').on('click', '.deleteEvent', function (e) {
        var commId = $(this).attr("data-deleteeventidid");
        alert(commId);
        $.ajax({
            url: "/Event/Delete",
            type: 'POST',
            data: { id: commId },
            success: function (data) {
                $("#deleteevent_" + commId).html('');
                var count = $("#PostEvntCount").text();
                count = parseInt(count) - 1;

                $("#PostEvntCount").text(count);
                $("#PostEvntCount").val(count);
            }
        })

    })

</script>
