﻿@model PMT.Models.Events

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <h2 class="center-align">Create</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <input type="hidden" name="ObituaryId" value="@ViewBag.PostId"/>
   <input type="hidden" name="UserId" id="UserProfile_UserId" value="@ViewBag.UserId" />
   <div class="col s12">
       <div class="row">
       <div class="input-field col s6">
            <div class="editor-label">
            @Html.LabelFor(model => model.EventDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EventDate)
            @Html.ValidationMessageFor(model => model.EventDate)
        </div>
       </div>
      
       <div class="input-field col s6">
           
        <div class="editor-label">
            @Html.LabelFor(model => model.EventVenue)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EventVenue)
            @Html.ValidationMessageFor(model => model.EventVenue)
        </div>
       </div>
        


   </div>
       
       <div class="row">
        <div class="input-field col s4">
            <div class="editor-label">
            @Html.LabelFor(model => model.EventStartTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EventStartTime)
            @Html.ValidationMessageFor(model => model.EventStartTime)
        </div>
        </div>
        <div class="input-field col s4">
            <div class="editor-label">
            @Html.LabelFor(model => model.EventEndTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EventEndTime)
            @Html.ValidationMessageFor(model => model.EventEndTime)
        </div>
            </div>
        <div class="input-field col s4">
            <div class="editor-label">
            @Html.LabelFor(model => model.ApprximateDuration)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ApprximateDuration, new { @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.ApprximateDuration)
        </div>
            </div>
        
        </div>

       <div class="col s12">
           <div class="editor-label">
            @Html.LabelFor(model => model.EventInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventInfo)
            @Html.ValidationMessageFor(model => model.EventInfo)
        </div>
       </div>


         <div >
            <input type="submit" value="Create" class="btn btn-green right white-text"/>
        </div>
       
   </div>
   
    
        
        

        

      
  
}

</div>
<script>
    $(function () {
        $('#EventStartTime').timepicker({ 'timeFormat': 'H:i' });
        $('#EventEndTime').timepicker({ 'timeFormat': 'H:i' });
        $("#EventStartTime").blur(function () {

            var start = $(this).val()

            var end = $('#EventEndTime').val()

            var starttime = parseInt($(this).val().split(':')[0])
            var starttime1 = parseInt($(this).val().split(':')[1]);

            starttime = starttime * 60
            starttime = starttime + starttime1

            var endtime = parseInt($("#EventEndTime").val().split(':')[0]);
            var endtime1 = parseInt($("#EventEndTime").val().split(':')[1]);

            endtime = endtime * 60
            endtime = endtime + endtime1
            if (start != "" && end != "") {
                if (end < start) {
                    endtime = endtime + 1440;
                    approxduration(starttime, endtime);

                }
                approxduration(starttime, endtime);
            }
            else
                $('#ApprximateDuration').val('');


        });
        $("#EventEndTime").blur(function () {


            var end = $(this).val()
            var start = $('#EventStartTime').val()


            var starttime = parseInt($("#EventStartTime").val().split(':')[0]);
            var starttime1 = parseInt($("#EventStartTime").val().split(':')[1]);

            starttime = starttime * 60
            starttime = starttime + starttime1


            var endtime = parseInt($(this).val().split(':')[0]);
            var endtime1 = parseInt($(this).val().split(':')[1]);

            endtime = endtime * 60
            endtime = endtime + endtime1



            if (start != "" && end != "") {
                if (end < start) {
                    endtime = endtime + 1440;
                    approxduration(starttime, endtime);

                }
                approxduration(starttime, endtime);
            }
            else
                $('#ApprximateDuration').val('');

        });
        function approxduration(start,end)
        {
            var total_time =  end - start

            if(total_time <= 1)
            {
                total_time = total_time * -1;
                var hours = total_time / 60;
                hours = Math.floor(hours);
                var miniutes = total_time % 60;
                // alert(miniutes);
     
    
                $("#ApprximateDuration").val(hours + ":" + miniutes);
            }

            else if(total_time >= 60)
            {
                var hours = total_time / 60;
                hours = Math.floor(hours);
                var miniutes = total_time % 60;
                // alert(miniutes);
  		
  		
                $("#ApprximateDuration").val(hours + ":" + miniutes);

            }
  	
            else
            {
                var hours = 0;
                var miniutes = total_time 
                $("#event_approximate_duration").val(hours + ":" + miniutes);
            }
        }

        $('#EventDate').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year

        });
    });
 

</script>