﻿@model PMT.Models.Events

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Obituary</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventVenue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventEndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprximateDuration)
    </div>
  
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input  value="Delete"  id="deleteEvent" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}