﻿@model PMT.Models.Events

@{
    ViewBag.Title = "Details";
                        //var label = 
}
<style>
    .size {
        font-size: 22px;
    }

    div.right-align .facebook span {
        vertical-align: initial !important;
    }

    .twitter {
        margin-top: 10px;
    }

    .mtop10 {
        margin-top: 10px !important;
    }

    #mail {
        vertical-align: super;
        padding-left: 1px;
        font-size: 12px;
    }

    table#personDetails td {
        padding: 0px !important;
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .gmap {
        width: 100%;
        height: 200px;
        border: 1px solid lightgray;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 event">
            <div class="col s12 right-align mtop10">

                <div id="socialLinks" class="right mbottom5">
                    <div class="fb-share-button facebook" data-href="http://localhost:1114" data-layout="button"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button twitter" data-via="antariksha1703">Tweet</a>

                    @*<a target="_blank" href="https://plus.google.com/share?url=http://localhost:1114" class="social googleplus"></a>*@
                    <div class="g-plus" data-action="share" data-annotation="none" data-height="15px" data-href="http://localhost:1114"></div>
                    <i class="material-icons cyan-text">email</i>@Html.ActionLink("Mail", "Index", "SendMailer", new { id = "" }, new { @class = "modal-trigger black-text", @href = "#ObituarySend", @id = "mail" })
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                   @* <div class="col s2 eventname_@Model.EventId" style="font-size: 2em;">@Html.DisplayFor(model => model.EventName)</div>
                    <div class="col s3 eventdate_@Model.EventId" style="font-size: 2em;">@Html.DisplayFor(model => model.EventDate)</div>*@

                    <h4 class="eventname_@Model.EventId">@Html.DisplayFor(model => model.EventName) on @Html.DisplayFor(model => model.EventDate)</h4>
                </div>
            </div>
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h6 class="center-align">Send Mails</h6>
                    @Html.Partial("~/Views/SendMailer/_IndexSendmail.cshtml")
                </div>
                <div class="modal-footer">
                    <a href="#!" id="close" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    @*<h6><strong>Venue:</strong> &nbsp; @Html.DisplayFor(model => model.EventVenue)</h6>
                <br />
                <h6><strong>Duration:</strong> &nbsp; @Html.DisplayFor(model => model.ApprximateDuration)</h6>*@

                    <h6><strong>Venue:</strong> &nbsp;
                            <span id="venue" class="eventvenue_@Model.EventVenue">@Html.DisplayFor(model => model.EventVenue)</span>
                    </h6>
                    <br />
                    <h6><strong>Duration:</strong> &nbsp;
                          <span class="duration_@Model.ApprximateDuration">@Html.DisplayFor(model => model.ApprximateDuration) hrs/mins </span></h6>


                </div>
            </div>
            </>

        @*<div>
            @Maps.GetGoogleHtml(Request.Form["@Html.DisplayFor(model => model.EventVenue)"],
            width: "400",
            height: "400"
            )
        </div>*@
            <input type="hidden" id="message" value="@ViewBag.message" />

            <div class="row">
                <div class="col s12">
                    <div id="map_canvas" class="gmap"></div>
                </div>
            </div>


            <div class="row">
                <div class="col s12 eventinfo_@Model.EventId">
                    <p>@Html.DisplayFor(model => model.EventInfo)</p>
                </div>

            </div>

            <div id="@Model.EventId"></div>
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15074.933762846144!2d72.94009643465577!3d19.163141996054993!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddd290b09914b3%3A0xcb07845d9d28215c!2sNashik%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1449581468245" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@

            <div class="row">
                <div class="s12">
                    <ul style="list-style-type: none; float: right;">
                        <li style="display: inline;">@*@Html.ActionLink("Edit", "Edit", "Event", new { id = Model.EventId }, new { @class = "edit indigo-text" })*@
                            <a data-eventId="@Model.EventId" class="editevent indigo-text" style="cursor:pointer">Edit</a>
                        </li>
                        |
			    <li style="display: inline;">@Html.ActionLink("Back to " + (string)@ViewBag.post, "Details", "Post", new { id = Model.ObituaryId }, new { @class = "delete red-text" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <script>
        $('.modal-trigger').leanModal();
    </script>
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyAxedoISuyJYgaELGqTf2o1He6z6qsEWRI&sensor=true"></script>
    @*maps.googleapis.com/maps/api/js?v=3&key={your key}&sensor=false*@

    <script>
        function initialize() {

            // var latitude = 30.3296604;
            //var longitude = -97.8743174;
            //var geocoder = new google.maps.Geocoder();
            //var address = document.getElementById("venue").value;
            //geocoder.geocode({ 'address': address }, function (result) {
            //    debugger;

            //    var latitude = result.geometry.loca
            //        var longitude = result[0].geometry.location.lng();
            //        alert(latitude + longitude);



            var geocoder = new google.maps.Geocoder();
            var address = $("#venue").text();

            geocoder.geocode({ 'address': address }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();

                    var latlng = new google.maps.LatLng(latitude, longitude);
                    var options = {
                        zoom: 8,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map_canvas"), options);

                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(latitude, longitude),
                        map: map
                    })
                }
            });
        }

        $(function () { //Same as $(document).ready()
            initialize();
        });


        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "200",
                "hideDuration": "1500",
                "timeOut": "6000",
                "extendedTimeOut": "1200",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"

            }
            if ($('#message').val() != "")
                toastr["success"]($('#message').val());
        });

        $(document).on('click', '.editevent', function () {
            var commId = $(this).attr("data-eventId");
            alert(commId);
            $.ajax({
                url: "/Event/Edit",
                type: 'GET',
                data: { id: commId },
                success: function (data) {
                    $("#" + commId).append(data.PartialView);
                }
            })
        })
        $(document).on('click', '#cncelcomm', function () {
            var commId = $(this).attr("data-eventId");
            $("#" + commId).html("");

        })
        $(document).on('click', '.updateEvent', function () {
            var commId = $(this).attr("data-eventId");
            var form = $(".EditEventForm").serialize();
            alert(form);
            $.ajax({
                url: "/Event/Edit",
                type: 'POST',
                data: form,
              
                success: function (data) {
                    alert(data.date);
                    //$("." + commId).text(data.comment);
                    $(".eventname_" + commId).text(data.name+" on "+data.date);
                    $(".eventinfo_" + commId).text(data.info);
                    $(".eventvenue_" + commId).text(data.venue);
                    $(".duration_" + commId).text(data.duration);
                    $("#" + commId).html("");
                    
                }
            });

        });


    </script>
