﻿<div class="container">
@using (Html.BeginForm("Index", "SendMailer", new { id = "MailForm"}))
{
@Html.ValidationSummary()

<div class="row">
        <div class="input-field col s6">
                        <input id="From" name="From" type="text" class="validate">
                <label for="From">From</label>
            </div>
        <div class="input-field col s6">
                    <input id="To" name="To" type="text" class="validate">
                <label for="To">To</label>
            </div>
        </div>
   <div class="row">
        <div class="input-field col s12">
                  <input id="Subject" name="Subject" type="text" class="validate">
                <label for="Subject">Subject</label>
            </div>
        </div>
	 <div class="row">
	 <div class="col s12">
         <label for="sendmail_message">Message </label>
           <textarea id="Message" name="Body" class="materialize-textarea"></textarea>
               
	 	</div>
         </div>
    
    
	 <div class="row">
	 <div class="col s12">
         <input type ="submit" id="Send" value="Send" />
	 	</div>

         </div>
}
    </div>    