﻿@model PMT.Models.MailModel

@{
    ViewBag.Title = "Index";
}
<div class="container">
<h2 class="center-align">Send Email</h2>
@using (Html.BeginForm(null, null, new { id = "MailForm"}))
{
@Html.ValidationSummary()

   <p>From: </p>
<p>@Html.TextBoxFor(m => m.From)</p>    
 <p>To: </p>
<p>@Html.TextBoxFor(m => m.To)</p>
<p>Subject: </p>
<p>@Html.TextBoxFor(m => m.Subject)</p>
 <p>Body: </p>
<p>@Html.TextAreaFor(m => m.Body)</p>
<input type ="submit" id="Send" value="Send" />
}  
    </div>

