﻿@model PMT.Models.Obituary

@{
    ViewBag.Title = @Model.Name;

    var comments = Model.Comments.ToList();
    var count = comments.Count();
    ViewBag.commentcount = count;


    var events = Model.Events.ToList();

    var eventscount = events.Count();
    ViewBag.eventscount = eventscount;

    var postId = Model.ObituaryId;
    var msg = "";
}
<style>
    div.facebook.facebook span {
        vertical-align: initial !important;
    }

    table#personDetails td {
        padding: 0px !important;
    }

    #socialLinks {
        color: #000;
    }

    #mail {
        vertical-align: super;
        padding-left: 1px;
        font-size: 12px;
    }

    .mbottom5 {
        margin-bottom: 5px !important;
    }
</style>

<div class="row">
    <div class="container">
        <input type="hidden" value="@Model.Classifications" id="classifications"/>
        <div class="col s12">
            <div class="col s10">
                <h3 class="center-align">@Model.Name</h3>
            </div>
            <input type="hidden" id="postId" value="@Model.ObituaryId"/>
            <div class="col s2">
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button black-text" data-beloworigin="true" href="#!" data-activates="dropdown3"><i class="material-icons right">settings</i></a></li>
                </ul>
                <ul id="dropdown3" class="dropdown-content">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ObituaryId })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = Model.ObituaryId })</li>

                </ul>
            </div>
        </div>


        <div class="col s12 m6">
            <img src="~/Images/obituary/@Model.FileName" class="w100 materialboxed" id="sampleTabImage">
        </div>
        <div class="col s12 m6" style="text-align: justify;">

            <div>@Model.Message</div>

        </div>
        <div class="col s12">
            <div class="col s6 light-green lighten-5 facebook">
                <table class="responsive-table" id="personDetails">

                    <tbody>
                        <tr>
                            <td><strong class="indigo-text">Date Of Birth:</strong></td>
                            <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                        </tr>
                        <tr>
                            <td><strong class="indigo-text">Date Of Death:</strong></td>
                            <td>@Html.DisplayFor(model => model.DateOfDeath)</td>
                        </tr>
                        <tr>
                            <td><strong class="indigo-text">State:</strong></td>
                            <td>@Html.DisplayFor(model => model.State)</td>
                        </tr>
                        <tr>
                            <td><strong class="indigo-text">City:</strong></td>
                            <td>@Html.DisplayFor(model => model.DeacesedCity)</td>
                        </tr>

                    </tbody>
                </table>


                <div id="socialLinks" class="right mbottom5">
                    <div class="fb-share-button facebook" data-href="http://localhost:1114" data-layout="button"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button twitter" data-via="antariksha1703">Tweet</a>

                    @*<a target="_blank" href="https://plus.google.com/share?url=http://localhost:1114" class="social googleplus"></a>*@
                    <div class="g-plus" data-action="share" data-annotation="none" data-height="15px" data-href="http://localhost:1114"></div>
                    <i class="material-icons cyan-text">email</i>@Html.ActionLink("Mail", "Index", "SendMailer", new { id = "" }, new { @class = "modal-trigger black-text", @href = "#ObituarySend", @id = "mail" })

                    @*<a href="@Url.Action("Index", "SendMailer")" id="#ObituarySend" class="modal-trigger"><i class="material-icons">email</i></a>*@
                    @*
                    <a href="@Url.Action("Action", "Controller")" class="btn btn-warning">
    link text 
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
                    *@
                    <div id="ObituarySend" class="modal">
                        <div class="modal-content">
                            <h6 class="center-align">Send Mails</h6>
                            @Html.Partial("~/Views/SendMailer/_IndexSendmail.cshtml")
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <div class="container">
        <div class="row hoverable borderbox" style="margin-left: 0px;">
            <div class="col s12" style="margin-top: 50px;">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" href="#commentTab">Comments :<span id="PostCommCount"> @ViewBag.commentcount </span></a></li>
                    <li class="tab col s6"><a href="#eventTab">Events :<span id="PostEvntCount"> @ViewBag.eventscount </span></a></li>

                </ul>
            </div>
            <div id="commentTab" class="col s12">

                <div id="appendComment">
                    @*                @Html.ActionLink("Create An Event", "Create", "Event", new { postId = Model.ObituaryId }, htmlAttributes: new { @class = "btn btn-gree white-text" })*@
                    @Html.Partial("~/Views/Comment/_Create.cshtml", new { postId = Model.ObituaryId })
                </div>
                
                @Html.Partial("~/Views/Comment/_Index.cshtml", Model.Comments.ToList())
            </div>
            <div id="eventTab" class="col s12">
                @*<div>@Html.ActionLink("Create An Event", "Create", "Event", new { postId = Model.ObituaryId }, htmlAttributes: new { @class = "btn btn-gree white-text" })</div>*@
                <div id="appendEvent">@Html.Partial("~/Views/Event/_CreateEvent.cshtml", new { postId = Model.ObituaryId })</div>

                @Html.Partial("~/Views/Event/_Index.cshtml", Model.Events.ToList())
            </div>
        </div>
    </div>

</div>


@* <div class="display-label">
            @Html.DisplayNameFor(model => model.Message): &nbsp;
  
      
        </div>*@



<script>
    $(document).on('click', '#createComment', function () {

        var postId = $("#postId").val();
        var classifications = $("#classifications").val();


        $("#commentPostId").val(postId);
        var form = $("#CommentForm").serialize();
        form += "&classification=" + classifications;
        //form = form.append('classifications', classifications);
        $.ajax({
            url: "/Comment/Create",
            type: 'POST',
            data: form,
            success: function (data) {
                $("#appendComment").append(data.PartialView);

              

                var count = $("#PostCommCount").text();
                count = parseInt(count) + 1;
                $("#PostCommCount").text(count);


            }
        })
        $("#Message1").val("");

    });

    $(document).on('click', '#createEvent', function () {

        var postId = $("#postId").val();

        $("#eventPostId").val(postId);
        var form = $("#EventForm").serialize();

        $.ajax({
            url: "/Event/Create",
            type: 'POST',
            data: form,
            success: function (data) {
                alert();
                $("#appendEvent").append(data.PartialView);

                var count = $("#PostEvntCount").text();
                count = parseInt(count) + 1;
                alert(count);
                $("#PostEvntCount").text(count);
                $("#PostEvntCount").val(count);
            }
       
        });

        $("#EventDate").val("");
        $("#EventVenue").val("");
        $("#EventName").val("");
        $("#EventStartTime").val("");
        $("#EventEndTime").val("");
        $("#ApprximateDuration").val("");
        $("#EventInfo").val("");


    });
    //$('.modal-trigger').leanModal();
    //$('#modal1').openModal();
    $('.modal-trigger').leanModal();

</script>
