﻿@model PMT.Models.Obituary

@{
    ViewBag.Title = "Edit";
}

<div class="container">    
    <h3 class="center-align">Edit</h3>

@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
   @Html.HiddenFor(model => model.ObituaryId)
    <div class="row">
      
        <div class="col s6">
    
        <label>Classififcations</label>   
        
             @Html.DropDownList("Classifications",ViewData["Classifications"] as List<SelectListItem> )
          

         </div>
          
           
        </div>
            <div class="col s6">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="imageFile">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
       
         <div class="row">
       
        <div class="input-field col s6">
       <input placeholder="Placeholder" id="Name" name="Name" type="text" class="validate" value="@Model.Name">
          <label for="Name">First Name</label>
      
            </div>
              <div class="input-field col s6">
                  
        <input placeholder="Placeholder" id="LastName" name="LastName" type="text" class="validate" value="@Model.LastName">
          <label for="LastName">Last Name</label>
             </div>
              </div>
                 <div class="row">
       
        <div class="col s6">
        <label>Obituary categoey</label>
       
            @Html.DropDownList("ObituaryCategory",ViewData["ObituaryCategory"] as List<SelectListItem>)
            
        </div>
            </div>
              
         <div class="row">
       
        <div class="input-field col s6">
        <input placeholder="Placeholder" id="DeacesedCity" name="DeacesedCity" type="text" class="validate" value="@Model.DeacesedCity">
          <label for="DeacesedCity">Deacesed City</label>
        
        </div>
  
        <div class="input-field col s6">
        <input placeholder="Placeholder" id="State" name="State" type="text" class="validate" value="@Model.State">
          <label for="State">State</label>
        

            </div>
              </div>
        <div class="row">
       
        <div class="input-field col s6">
        <input placeholder="Placeholder" id="DateOfBirth" name="DateOfBirth" type="text" class="validate" value="@Model.DateOfBirth">
          <label for="DateOfBirth">Date Of Birth</label>
       
             </div>
             <div class="input-field col s6">
        <input placeholder="Placeholder" id="DateOfDeath" name="DateOfDeath" type="text" class="validate" value="@Model.DateOfDeath">
          <label for="DateOfDeath">Date Of Death</label>
       
            </div>
              </div>
       
       
        <div class="input-field col s6">
               <textarea id="Message" name="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>
        </div>
     
          
       
       
            
        <div>
            <input type="submit" value="Save" class="btn btn-green white-text"/>
             @Html.ActionLink("Back to List", "Index",null, new  { @class="btn btn-green white-text"})
        </div>
}
    
    
</div>
    





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
        $(document).ready(function () {

            //$(".dropdown-button").dropdown();
            //$('select').material_select();

            $('#dateofbirth').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year
              
            });

            $('#dateofdeath').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 ,// Creates a dropdown of 15 years to control year
                max: true
            });
        });
       
    </script>

