﻿@model PMT.Models.Search
@{
    ViewBag.Title = "Search";
}

<style>
.container1{
  width:100%;
      margin-top: -12px;
  float:left;
}

.header1{
  background:url('/Images/dropDown_arrow.png') no-repeat;
  background-position:right 0px;
  cursor:pointer;
}

.collapsed1 .header1{
  background-image:url('/Images/up.png');
}

.content1{
  height:auto;
  min-height:100px;
  overflow:hidden;
  transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
}
.collapsed1 .content1{
  min-height:0px;
  height:0px;
}
    .dropdown-content li > span {
        font-size: 12px;
    }
</style>


<div class="container">
<h3 class="center-align">Search</h3>

    @using (Html.BeginForm("Search","Search",FormMethod.Post))
{
    @Html.ValidationSummary(true)
        <div class="row">
            <div class="col s6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
               <div class="input-field">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
             </div>

            <div class="col s6">
                <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="input-field">
            @Html.TextBoxFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
            </div>
        </div>
        
    
    
    <div class="row">
        <div class="col s6">
        <div class="editor-label">
            @Html.LabelFor(model => model.DeacesedCity)
        </div>
        <div class="input-field">
            @Html.TextBoxFor(model => model.DeacesedCity)
            @Html.ValidationMessageFor(model => model.DeacesedCity)
        </div>
        </div>
        <div class="col s6">
            <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="input-field">
            @Html.TextBoxFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        </div>

    </div>
    
    <div class="container1 collapsed1">
   <div class="header1">&nbsp;</div>
          <div class="content1">
              <div class="row">
            <div class="col s6 ">
       
               <label>TimeLine</label>  
                @Html.DropDownList("TimeLine",ViewData["TimeLine"] as List<SelectListItem> )
            </div>
           <div class="col s6 ">
       
               <label>Obituary category</label>  
                @Html.DropDownList("ObituaryCategory",ViewData["ObituaryCategory"] as List<SelectListItem> )
            </div>
       
       


          </div>
                <div class="row">
        <div class="col s6">
            <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="input-field">
            @Html.TextBoxFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        </div>
        <div class="col s6">
            <div class="editor-label">
            @Html.LabelFor(model => model.DateOfDeath)
        </div>
        <div class="input-field">
            @Html.TextBoxFor(model => model.DateOfDeath)
            @Html.ValidationMessageFor(model => model.DateOfDeath)
        </div>
        </div>
    </div>
       
      
                    
    </div>

        </div>

        

        
    <p>
        <input type="submit" value="Search" />
    </p>
}
</div>

<script>
    $(function () {

        $('.header1').click(function () {
            $(this).closest('.container1').toggleClass('collapsed1');
        });

        $('#DateOfBirth').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year

        });

        $('#DateOfDeath').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15,// Creates a dropdown of 15 years to control year
            max: true
        });


    });
</script>


