﻿@model IEnumerable<PMT.Models.Obituary>
@{
    ViewBag.Title = "Search";
}
@*<div class="container">
    <h2 class="center-align">@ViewBag.Message</h2>
</div>*@
<style>
    h5 {
        left: 0;
        line-height: 200px;
        /* margin: auto; */
        /* margin-top: -100px; */
        /* position: absolute; */
        top: 50%;
        width: 100%;
    }
</style>

@if (@ViewBag.Message != null)
{
    <h5 class="center-align">@ViewBag.Message</h5>
    
    <p class="center-align">@Html.ActionLink("Back to Search", "Index", "Search", null, new { @class = "indigo-text " })</p>
}
else
{
    foreach (var item in Model)
    {
    <div class="container">
        <div class="row">
            <div class="col s10">
                <h4 class="header center-align homehead">@Html.DisplayFor(m => item.Classifications)</h4>
            </div>

            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image center-align">
                        <img src="~/Images/obituary/@Html.DisplayFor(m => item.FileName)">
                    </div>
                    <div class="card-content">
                        <span class="card-title">@Html.ActionLink(item.Name, "Details", new { id = item.ObituaryId })</span>

                        @{var msg = "";
                          if (item.Message != null)
                          {
                              if (item.Message.Length > 5)
                              {

                                  msg = item.Message.Substring(0, 5).Insert(5, "...");


                              }
                              else
                              {
                                  msg = item.Message;
                              }
                          }
                        }
                        <p>@msg</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    }
}

    <style>
        div.card-image > img {
            width: 100%;
            margin: auto;
        }
    </style>

<script>
    $('.tooltipped').tooltip({ delay: 50 });
</script>
