﻿@model ICollection<AuthenticationClientData>
<div class="container">
    @if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
        
           
        <input type="image" src="~/Images/15304490775443cf6c076ca.png" alt="Submit" width="250" height="50" value="facebook" name="provider"/>
        <input type="image" src="~/Images/download.png" alt="Submit" width="250" height="50" value="twitter" name="provider"/>
        <input type="image" src="~/Images/sign-in-with-google.png" alt="Submit" width="250" height="50" value="google" name="provider"/>
         @*<button type="submit" name="provider" value="twitter" class="twitter" title="Log in using your Twitter account">Twitter</button>*@
    
    }
}

</div>

<style>
    /*.facebook {
        font-size:10px;
    }*/
    .facebook{
       
}
</style>

@*<script>
    $(".facebook").addClass("facebook");
</script>*@