﻿@model ICollection<PMT.Models.ExternalLogin>

<div class="container">
    @if (Model.Count > 0)
{
    <h5 class="center-align">Registered external logins</h5>
    <table>
        <tbody>
        @foreach (PMT.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td class="indigo-text center-align"><b>@externalLogin.ProviderDisplayName</b></td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                          
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" value="Remove" title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                           
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

</div>