﻿@model PMT.Models.LocalPasswordModel

<div class="container">
    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()
    
     
            <ul class="row">
                <li class="input-field col s12">
                    @Html.LabelFor(m=>m.Email)
               <input type="text" value="@ViewBag.userName" id="Email" name="Email"/>
                </li>
            </ul>
            <input type="submit" value="Set Email"/> @Html.ActionLink("Back to Home Page", "Index", "Home",null,htmlAttributes: new {@class="blue-text"})
      
    }
    
</div>























