﻿@{
    ViewBag.Title = "ConfirmationFailure";
}

<style>
    h5 {
        left: 0;
        line-height: 200px;
        /* margin: auto; */
        /* margin-top: -100px; */
        /* position: absolute; */
        top: 50%;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h5>Something Went Horribly Wrong! x(</h5>
        </div>
        <div class="col s12 center-align">
            <h6>@Html.ActionLink("Back", "Login", "Account", null, htmlAttributes: new { @class="indigo-text"}) to Login Page.</h6>
        </div>
    </div>
</div>
