﻿@model PMT.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <hgroup class="title">
       <h4>@ViewBag.Title.</h4>
       <h5>Associate your @ViewBag.ProviderDisplayName account.</h5>
    </hgroup>
    
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
       @Html.AntiForgeryToken()
       @Html.ValidationSummary(true)
   
       <fieldset>
           <legend>Association Form</legend>
           <p>
               You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
               Please enter a user name for this site below and click the Confirm button to finish
               logging in.
           </p>
           <ul>
               <li class="name">
                   @Html.LabelFor(m => m.UserName)
                   @Html.TextBoxFor(m => m.UserName)
                   @Html.ValidationMessageFor(m => m.UserName)
               </li>
           </ul>
           @Html.HiddenFor(m => m.ExternalLoginData)
           <input type="submit" value="Register" class="btn btn-success"/>
       </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
