﻿@{
    var db=Database.Open("PMTContext");
    var email = Request.Form["email"] ?? Request.QueryString["email"];
    var UserName = Request.Form["UserName"] ?? Request.QueryString["UserName"];
    //Validation.RequiredField("email", "The email address field is required.");
    bool tokenSent = false;
    
    if(IsPost)
    {
        var UserId = WebSecurity.GetUserId(UserName);
        var sqlquery = "SELECT ConfirmationToken FROM webpages_Membership Where UserId = @0";
        foreach (var token in db.Query(sqlquery, UserId))
        //{
        //    WebMail.Send(
                
        //        to: email,
        //        subject: "Your Confirmation Token",
        //        body: "Your Confirmation token is: " + token.confirmationToken
        //        );
        
        
        
        {
            // Initialize WebMail helper
            WebMail.SmtpServer = "smtp.mandrillapp.com";
            WebMail.SmtpPort = 25;
            WebMail.UserName = "4a1992@gmail.com";
            WebMail.Password = "N5AMEOOPNKHZ846ZqDFZzw";
            WebMail.From = "admin@example.com";
            WebMail.EnableSsl = true;
           
            WebMail.Send(
                to: email,
                subject: "Your Confirmation Token",
                body: "Your Confirmation Token is: "+"<a href="
                        + Url.Action("ConfirmationSuccess", "Account", new { rt = token.ConfirmationToken }, "http")
                         + ">Confirmation</a>" 
                );
            
           
            
            
            tokenSent = true;
        }
    }
    
}
@if(tokenSent)
{
   <h6 class="container center-align indigo-text">@ViewBag.alert</h6> 
}
<form method="post" class="container">

        
            <ul class="nav">
                <li>
                     <label for="UserName">UserName</label>
                    <input type="text" id="UserName" name="UserName"/>
                  
                </li>
                <li class="email">
                    <label for="email">Email address</label>
                    <input type="text" id="email" name="email"/>
                    @Html.ValidationMessage("email")
                </li>
            </ul>
            <p>
                <input type="submit" class="btn btn-primary btn-large" value="Get Confirmation Token"/>
            </p>
        </fieldset>
    </form>