﻿@model PMT.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<div class="container" >
    <h3 class="center-align">@ViewBag.Title.</h3>
    <input type="hidden" id="message" value="@ViewBag.message"></input>
    <div class="row">
    <div class="col s12">
        <div class="col s6">
          <section id="loginForm">
              <h5 class="center-align">Use a local account to log in.</h5>
                
               @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
               @Html.AntiForgeryToken()
               @Html.ValidationSummary(true)
              <ul>
                   <li>
                      @Html.LabelFor(m => m.UserName)
                      @Html.TextBoxFor(m => m.UserName)
                      @Html.ValidationMessageFor(m => m.UserName)
                  </li>
                  <li>
          
                      @Html.LabelFor(m => m.Password)
                      @Html.PasswordFor(m => m.Password)
                      @Html.ValidationMessageFor(m => m.Password)
                  </li>
                    <li>
                      
                        <input type="checkbox" id="Remember_Me" />
                        <label for="Remember_Me">Remember Me?</label>
                   </li>
              </ul>
                   <button type="submit" class="waves-effect waves-light btn">Log in</button>
                   @* <button type="submit" class="waves-effect waves-light btn">Send me reset password instructions</button>*@
          
          
               <p>
                   @*@Html.ActionLink("Register", "Register", null,htmlAttributes: new { @class="indigo-text"}) if you don't have an account.*@
                   @Html.ActionLink("Forgot your password?", "LostPassword", null, htmlAttributes: new { @class="indigo-text"})
                   @*<%= link_to "Forgot your password?", new_password_path(resource_name), :class => "black-text" %><br />*@
                   </p>
                }
                   
           </section>
         </div>
         <div class="col s6">
         <section class="social" id="socialLoginForm">
             <p>@Html.ActionLink("Resend The Confirmation Token!", "GetConfirmationToken", "Account", null, new { @class="indigo-text"})</p>
         <h5 class="center-align">Use another service to log in.</h5>
         @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
         </section>
        </div>
    </div>
    </div>
    
</div>
                                  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    $(document).ready(function () {
        if ($('#message').val()!="")
            toastr.info($('#message').val());
    });

</script>