﻿@model PMT.Models.LostPasswordModel
@{
    ViewBag.Title = "LostPassword";
}
<div class="container">
    <div class="row">
        <h4>Forgot Password?</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <ul>
            <li>
                @Html.LabelFor(model=>model.Email)
                @Html.TextBoxFor(model => model.Email, null, new { @class="input-field"})              
            </li>

        </ul>
        <div class="actions">
             @*<input type="submit" value="" class="waves-effect waves-light btn"/>*@
            <button type="submit" class="waves-effect waves-light btn">Send me reset password instructions</button>
        </div>
       
    }


    </div>
</div>