﻿@model PMT.Models.LocalPasswordModel
@{
    ViewBag.Title = "Edit Account";
}

<div class="container">
    <h4 class="center-align">@ViewBag.Title.</h4>


   @* <h6 class="message-success center-align">@ViewBag.StatusMessage</h6>*@

    <h6 class="message-success center-align">You're logged in as <b class="indigo-text">@User.Identity.Name</b>.</h6>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")
        </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
