﻿@using CaptchaMvc.HtmlHelpers
@*@using MathCaptcha; *@
@using CaptchaMvc;
@model PMT.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h3 class="center-align">@ViewBag.Title.</h3>
    <h5 class="center-align">Create a new account.</h5>
</hgroup>
  @if (ViewBag.emailError != null)
                    {
                       <h6 class="center-align">@ViewBag.emailError</h6> 
                    }
<div class="row">
    <div class="col m6 offset-m3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
          


            <ul>
                <li class="input-field">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                     @Html.ValidationMessageFor(m => m.UserName, null, htmlAttributes: new { @class="red-text"})
                </li>
                <li class="input-field">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                     @Html.ValidationMessageFor(m=>m.Password, null, htmlAttributes: new { @class="red-text"})
                </li>
                <li class="input-field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
                <li class="input-field">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m=>m.Email, null, htmlAttributes: new { @class="red-text"})
                    
                </li>
            </ul>
            <div class="input-field">
                @Html.Captcha(6)
                <input type="submit" value="Register" class="btn btn-red " />
            </div>
         
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
