﻿@model PMT.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container">
    <div class="row">
        <h4 class="center-align">ResetPassword</h4>
        @using (Html.BeginForm())
        { 
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div>
                <ul>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                    @Html.HiddenFor(m => m.ReturnToken)
                </ul>
                <button type="submit" class="waves-effect waves-light btn btnclr">Reset</button>
                <h2>@ViewBag.Message</h2>
            </div>
        }
    </div>
</div>
