﻿ @{
    ViewBag.Title = "About Us";
}
<style>
    h4 {
        left: 0;
        line-height: 200px;
        /* margin: auto; */
        /* margin-top: -100px; */
        /* position: absolute; */
        top: 50%;
        width: 100%;
    }
</style>
<div class="container">
    
<hgroup class="title">
    <h4 class="center-align">@ViewBag.Title.</h4>
</hgroup>

<article class="black-text text-lighten-4">
    This is a service to provide free obituaries online for those who choose to celebrate someone’s life or mourn the loss of a loved one. 
        This is offering a free alternative to placing costly obituary notices in the newspapers or online with paid websites.
</article>
    <br />

<aside class="center-align">
        @Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class="indigo-text"}) |
        @Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class="red-text"}) | 
        @Html.ActionLink("Contact", "Contact", "Home", htmlAttributes: new { @class="indigo-text"})
</aside>

</div>