﻿@{
    ViewBag.Title = "Contact Us BY";
}

<div class="container">
    <h3 class="center-align">@ViewBag.Title.</h3>

        <h5>Phone</h5>
   
     <h6>Main: &nbsp;&nbsp;
        <span>425.555.0100</span></h6>
   
        
        <h6>After Hours: &nbsp;
        <span>425.555.0199</span></h6>

    <br />

        <h5>Email</h5>
  <h6>Support: &nbsp;
       <a href="mailto:Support@example.com">Support@example.com</a></h6>
 
        <h6>Marketing: &nbsp;
        <a href="mailto:Marketing@example.com">Marketing@example.com</a></h6>

        <h6>General: &nbsp;
        <a href="mailto:General@example.com">General@example.com</a></h6>
    <br />
        <h5>Address</h5>
  
        One Microsoft Way<br />
        Redmond, WA 98052-6399

</div>