﻿@model IEnumerable<PMT.Models.Obituary>
@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    
    <span>@Html.ActionLink("Add Obituary", "Create", "Post", null, new Dictionary<string, Object> { { "class", "waves-effect waves-light btn tooltipped btnclr" }, { "data-tooltip", "Add an Obituary" }, { "id", "newbtn" } })</span>

    <style>
        a#newbtn {
            position: absolute;
            top: 10px;
            right: 230px;
            z-index: 100;
            text-transform: capitalize;
        }
    </style>

    <ul class="slides">
        @foreach (var item in Model)
        {
         
            if (item.Classifications == "Obituary" && item.DeacesedCity == "Nashik")
            {
            <li>
                <!-- random image -->
                <img src="~/Images/parallax1.jpg" />
                <div class="caption left-align">

                    <h3>@Html.ActionLink(item.Name, "Details", "Post", new { id = item.ObituaryId }, null)</h3>
                    <div class="row">
                        <div class="col s6" style="float: left;">
                            <img src="~/Images/obituary/@Html.DisplayFor(m => item.FileName)" class="imgslider">
                        </div>
                        <div class="col s6" style="float: right;">
                            @{var msg = "";
                              if (item.Message != null)
                              {
                                  if (item.Message.Length > 200)
                                  {

                                      msg = item.Message.Substring(0, 200).Insert(200, "...");


                                  }

                                  else
                                  {
                                      msg = item.Message;
                                  }
                              }
                            }
                            <p style="float: right; display: block;">@msg</p>
                            <center> @Html.ActionLink("Load More Obituaries>>", "Obituary_List", "Post", null, new { @class = "waves-effect waves-light loadmoreslider" })</center>
                        </div>
                    </div>


                </div>
            </li>
            }
        }
    </ul>

</div>
<div class="container">
    <div class="row">
        <div class="col s10">
            <h4 class="header center-align homehead">Obituaries</h4>
        </div>
        <div class="col s2">

        </div>@* new Dictionary<string,Object> { {"class","prev"}, {"data-details","yada"} } *@
        @foreach (var item in Model)
        {
            if (item.Classifications == "Obituary")
            {
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image center-align">
                        <img src="~/Images/obituary/@Html.DisplayFor(m => item.FileName)">
                    </div>
                    <div class="card-content">
                        <span class="card-title">@Html.ActionLink(item.Name, "Details", "Post", new { id = item.ObituaryId }, null)</span>

                        @{var msg = "";
                          if(item.Message!=null)
                          {
                          if (item.Message.Length > 5)
                          {

                              msg = item.Message.Substring(0, 5).Insert(5, "...");


                          }
                          else
                          {
                              msg = item.Message;
                          }}
                          }
                        <p>@msg</p>
                    </div>
                </div>
            </div>
            }
        }
    </div>
    <center> @Html.ActionLink("Load More Obituaries>>", "Obituary_List", "Post", null, new { @class = "loadmore" })</center>
</div>
<div class="row" style="margin-top: 20px;">
    <img src="~/Images/home_bg_02.jpg" alt="" style="width: 100%;" />
</div>


<div class="container">
    <div class="row">
        
            <h4 class="header center-align homehead">Tributes<span style="float: right; margin: 10px 35px 0px 0px; font-size: 15px;">@Html.ActionLink("Add Tributes", "Create", "Post", null, htmlAttributes: new { @class = "waves-effect waves-light btn btnclr" })</span></h4>
       
        
        @foreach (var item in Model)
        {
            if (item.Classifications == "Tribute")
            {
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="~/Images/obituary/@Html.DisplayFor(m => item.FileName)">
                    </div>
                    <div class="card-content">
                        <span class="card-title">@Html.ActionLink(item.Name, "Details", "Post", new { id = item.ObituaryId }, null)</span>

                        @{var msg = "";
                          if (item.Message.Length > 5)
                          {

                              msg = item.Message.Substring(0, 5).Insert(5, "...");


                          }
                          else
                          {
                              msg = item.Message;
                          }}
                        <p>@msg</p>
                    </div>
                </div>
            </div>
            }
        }
    </div>
    <input type="hidden" id="message" value="@ViewBag.message" /> 
    <center>@Html.ActionLink("Load More Tributes", "Tribute_List", "Post", null, new { @class = "loadmore" })</center>
</div>

 
<script>
    $('.parallax').parallax();
    $('.tooltipped').tooltip({ delay: 50 });
    $(document).ready(function () {
        $('.slider').slider({ full_width: true });
    });
</script>
@if (ViewBag.message != null)
    {

   }

<script type="text/javascript">

    $(document).ready(function () {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1500",
            "timeOut": "6000",
            "extendedTimeOut": "1200",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"

        }
        if ($('#message').val()!="")
            toastr["success"]($('#message').val());
    });

</script>